html, body {
    height: 100%;
    background: burlywood;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 700px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". calculator ."
      ". . .";
  }
  
.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";
    grid-area: calculator;
  }